*{
    margin: 0;
    padding: 0;
}

.top-layer{
    background: rgb(130, 40, 165);
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:rgb(50, 250, 50);
    position: fixed;
    width: 100%;

    
    
}
.skateimg{
padding-top: 0%;
max-width: 100%;
background-size: cover;
justify-content: center;
align-self: center;

}
body{
    background-color: rgb(255, 255, 255); 
}

nav a {
    color: white; 
    text-decoration:underline;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px; 
}
nav a:hover {
    background-color: purple;
}

.bottom-layer{
    background: rgb(130, 40, 165);
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:rgb(50, 250, 50);
    padding: 20px;
    height: 100px;
    margin-top: -5px;
    align-items: center;
    bottom: 0;
    
    
   
}

p{
    font-size: 15px;
    padding-left: 20px;
}

h1{
font-size: 20px;
}